<!doctype html>
<html lang="en">
<head>
	<title>Work Anniversary</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap" rel="stylesheet">
<style>
	body{
		margin:0;
		padding:0;
		font-size: 16px;
		line-height:32px;
		font-family: 'Roboto', sans-serif;
		color: #a2a2a2;
	}
    .work-anniversary{
        max-width: 1024px;
        margin: 0 auto;
        border:1px solid #a2a2a2;
        text-align: center;
        background-image: url(main-bkg.png);
        background-position: top left;
        background-size:cover;
        padding-top: 200px;
    }
    .content .name{
       background-color: #DF4E27;
       color:#fff;
       border-radius: 8px;
       padding: 8px 40px;
       font-weight:600;
       margin-bottom: 20px;
       letter-spacing: 0.5px;
    }
    .content{
        line-height: 40px;
        color:#a2a2a2;
        margin-top: 80px;
        max-width: 500px;
        margin: 80px auto 0;
    }
    .image img{
        width:100%;
        height: auto;
    }
    .image {
        position: relative;
        max-width: 320px;
        margin: 0 auto;
    }
    .image .work-label{
        position: absolute;
        top: -18px;
        left: -53px;
        background-image: url(label.png);
        color: #fff;
        background-repeat: no-repeat;
        padding: 14px 50px 50px 30px;
        background-size: cover;
        height: auto;
    }
    /* .work-label img{
        min-width: 120px;
        height: auto;
        position: absolute;
        left:-28px;
        top:-6px;
    } */
    .work-label h1{
        position: relative;
        margin-bottom: 0;
        font-size: 40px;
        margin-top: 0;
    }
    .work-label span{
        position: relative;
        font-size: 24px;
    }
    .image h1.heading{
        color: #071CE1;
        font-size: 100px;
        margin: 0;
        line-height: 80px;
        position: absolute;
        bottom: -40px;
        left: -100px;
    }

</style>
</head>

<body>
<div class="work-anniversary">
    <div class="image">
        <img src="home/nteam/Downloads/Elsner Wishing template/Aniruddha.png">
        <div class="work-label">
            <!-- <img src="label.png"> -->
            <h1>03</h1>
            <span>Years</span>
        </div>
        <h1 class="heading">Work<br>Anniversary</h1>
    </div>
    <div class="content">
        
       <span class="name">Lorem Ipsum</span>
       <p>
        Congratulations on yet another year for setting an example for everyone on what it means to work hard and demonstrate never-ending team spirit. Happy Work Anniversary
       </p>
    </div>
</div>

</body>
</html>